.intro0 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   background-position: top center;
}

.title {
    /*text-indent: 30px;*/
    text-align: center;
    font-weight: bold ;
    font-size: 50px;
    height: 200px;
    background-color: rgba(255,255,255);
   /* margin-top: 50px;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.intro0_text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-indent: 30px;
    line-height: 55px;
    color: rgb(3, 62, 3);
}

.intro0_start_btn button {
    position: absolute;
    background-color: white;
    border: white;
    color:black;
    display: inline-block;
   
}

.intro0_learn_more {
    border: 1px solid white;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-inline: 30%;
}

#learn_more {
    text-decoration: none;
}

#intro1 {
    height: 700px; 
    margin-top: 0;
    /*
    margin-bottom: 50px;
    margin-inline: 30px;
    */
    background-color: rgba(247, 213, 232, 0.3);
}

.intro1_text {
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 30px;
    text-align: left;
    margin-inline: 30px;

}

.intro1_start_btn button {
    position: absolute;
    background-color: rgba(202, 68, 214, 0.5);
    border: rgba(202, 68, 214, 0.5);
    color:black;
    display: inline-block;
   
}

.intro2 {
    height: 700px;
    margin-inline: 30px;
    padding-top: 100px;
}

.intro2_text {
    background-color: rgba(164, 219, 167, 0.37);
    border-radius: 20px;
    padding-top: 150px;
    padding-bottom: 10px;
    text-align: center;
    height: 400px;
}
