body {
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.intro0 {
    margin-bottom: 100px;
    height: 700px;
}

.intro0_text {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-indent: 30px;
    line-height: 55px;
    color: rgb(3, 62, 3);
}

button {
    position: absolute;
    border: 1px solid rgb(64, 113, 203);
    height: 55px;
    width: 240px; 
    margin-top: 0;
    margin-inline: 40px;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: rgb(64, 113, 203);
    color: white;
}

.title {
    /*text-indent: 30px;*/
    text-align: center;
    font-weight: bold ;
    font-size: 50px;
    height: 200px;
    background-color: rgb(208, 244, 249);
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.intro1_text {
    height: 100px;
    margin-top: 30px;
}
