input {
    width:50%;
    height:50px;
    padding:0px;
    border-width:2px;
    padding-left: 5px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.login_join_form {
    text-align: center;
    height:260px;
    margin-top: 30%;
    margin-inline: 10%;
}

.login_join_btn {
    display: inline-block;
}
/*button {
    border: 1px solid rgb(64, 113, 203);
    height: 50px;
    width: 240px; 
    margin-inline: 40px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: rgb(64, 113, 203);
    color: white;
}*/