.login input {
    width:50%;
    height:50px;
    padding:0px;
    border-width:2px;
    padding-left: 5px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-Family: 'esamanru Light';
}

.login_join_form {
    text-align: center;
    height:260px;
    margin-top: 30%;
    margin-inline: 10%;
}

.login_join_btn {
    display: inline-block;
}

input[type="button"] {
    border: 1px solid rgba(46,59,85);
    height: 50px;
    width: 160px; 
    margin-inline: 40px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'esamanru Light';
    background-color: rgba(46,59,85);
    color: white;
}

.login button {
    font-family: 'esamanru Light';
    font-size: 1rem;
}
.login a {
    font-family: 'Happiness-Sans-Bold';
    font-size: 1.2rem;
    color:rgb(23, 24, 26);
}

.login b {
    font-family: 'Happiness-Sans-Bold';
    font-size: 1.3rem;
    color:rgba(46,59,85);
}