.intro1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-inline: 30px;
}

.intro2 {
    margin-inline: 30px;
}

.intro1_component {
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 100px;
}

.intro2_component {
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}